@model IEnumerable<UltrAthelitcs.Models.ProductoViewModel>

@{
	ViewBag.Title = "Index";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New","Create")
</p>

<div class="container" >

	@foreach (var item in Model)
	{

		<div class="col col-md-4">
            <div class="card" style="border: 1px solid #000; padding: 0.5rem;">
                <img src="../assets/img/proteina.png" class="card-img-top img-thumbnail" alt="...">
                
                <div class="card-body">
                    <h5 class="card-title">@Html.DisplayFor(modelItem => item.nombre)</h5>
                    <p class="card-text">@Html.DisplayFor(modelItem => item.descripcion)</p>
                    <p class="card-text">@Html.DisplayFor(modelItem => item.precio)</p>
                    <p class="card-text">descuento: @Html.DisplayFor(modelItem => item.descuento)</p>
                    <p class="card-text">mediaValoracion: @Html.DisplayFor(modelItem => item.mediaValoracion)</p>
                    <p class="card-text">total valoraciones: @Html.DisplayFor(modelItem => item.totalValoracion)</p>
                    <a href="#" class="btn btn-primary">Comprar</a>
                </div>
            </div>
		</div>
	}
</div>